*.txt
*.zip
*.RData
*.Rhistory
*.Rproj
*.pper
04_ExploratoryAnalysis/.Rproj.user/99857193/sdb/per/t/1BB7C359
04_ExploratoryAnalysis/.Rproj.user/99857193/sdb/per/t/75AE1328
04_ExploratoryAnalysis/.Rproj.user/99857193/sdb/per/t/CCCF75C4
04_ExploratoryAnalysis/.Rproj.user/99857193/sdb/per/t/E8FC1602
04_ExploratoryAnalysis/.Rproj.user/99857193/sdb/prop/2245AC02
04_ExploratoryAnalysis/.Rproj.user/99857193/sdb/prop/2A165938
04_ExploratoryAnalysis/.Rproj.user/99857193/sdb/prop/915AC018
04_ExploratoryAnalysis/.Rproj.user/99857193/sdb/prop/D5CC0DAC
04_ExploratoryAnalysis/.Rproj.user/99857193/sdb/prop/INDEX